<html>
    <body>
        <div id="app">
                <p> [[ title ]] </p>
                <ul>
                    <li v-for="day in days">
                        <h4> Day [[ day ]]</h4>
                    </li>
                </ul>
        </div>

        <script src="https://unpkg.com/vue"></script>
        <script>
            new Vue({
                delimiters: ['[[', ']]'],
                el: '#app',
                data: {
                    title: 'Welcome to My Journal',
                    days: []
                },
                mounted: function() {
                    this.getArticles();
                },
                methods: {
                    getArticles: function() {
                        this.loading = true;
                        httpRequest = new XMLHttpRequest();
                        httpRequest.responseType = 'json';
                        httpRequest.onreadystatechange = function(vm){
                            if (this.readyState === XMLHttpRequest.DONE) {
                                if (this.status === 200) {
                                    console.log(this.response)
                                    vm.days = this.response.days;
                                } 
                            }
                        }.bind(httpRequest, this);

                        httpRequest.open('GET', 'indexTest', true)
                        httpRequest.send()
                    },
                }
            })
        </script>
    </body>
</html>